#tabelaAdmin tbody tr td img{
	max-width: 100px;
}
#msg{
	background-color: #D4EDDA;
	color:#155724;
	border: 1px solid #C3E6CB;
	width: 100%;
	margin-bottom: 0;
	text-align: center;
	padding: 10px;
}
