#tabelaAdmin tbody tr td img{
    max-width: 100px;
}
#tabelaAdmin{
    color: #FAFAFA;
}
#tabelaAdmin tr:hover{
    color: #FAFAFA;
}
#tabelaAdmin tbody a{
    color: #FAFAFA;
}
h1,h2,h3,h4{
    color: #FAFAFA;
}
#formEdit,#formCreate{
    color: #FAFAFA;
}
#msg{
    background-color: #1DB63E;
    color:#FAFAFA;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}
/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Cuprum', sans-serif; */

.shadow-images{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    border-radius: 4px;
}

*{
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* Classe de Fonts */
.cuprum{
    font-family: 'Cuprum', sans-serif !important;
}
.font-14{
    font-size: 14px;
}

.font-16{
    font-size: 16px;
}

h2{
    color: #fafafa;
    font-weight: bold;
}

h3{
    color: #FAFAFA;
}

p{
    font-size: 14px;
    color: #fafafa;
}

body{
    background: linear-gradient(90deg, #440F9E 0%, #A074DB 100%);
}

/* Classes de redimensionamento */
.mr-50px{
    margin-right: 50px;
}

.ml-50px{
    margin-left: 50px;
}

.mx-30{
    margin: 30px 0px;
}

.my-30{
    margin: 0px 30px;
}

.m-30{
    margin: 30px;
}

.px-30{
    padding: 30px 0px;
}

.py-30{
    padding: 0px 30px;
}

.px-custom{
    padding: 10px 5px 0px 5px !important;
}

.p-30{
    padding: 30px;
}

.mleft-auto{
    margin-left: auto;
}

/* Classes de cores customizadas */
.bg-new-dark{
    background-color: #222;
}
.color-new-dark{
    color: #222;
}

/* Barra de pesquisa */
.search-div{
    margin: 20px 0px;
}

.search-input{
    background: rgba(34, 34, 34, 0.5) !important;
    border-radius: 1000px;
    font-size: 14px;
    width: 100%;
    height: 40px;
    border: none;
    color: #A1A1A1;
    transition: 0.3s;
}

.search-input::placeholder{
    color: #A1A1A1;
    font-size: 14px;
}

.search-input:focus{
    background: rgba(34, 34, 34, 0.8) !important;
}


/* Classe Games */
.games-div{
    background-color: rgba(34, 34, 34, 0.3);
    border-radius: 4px;
}

/* Classes rodapé */
.wave-div{
    margin-bottom: -5px;
}
.line-title{
    height: 50px;
    color: #222;
    border-bottom: 2px solid #A074DB;
}

.footer-title{
    color: #A074DB;
    font-size:  18px;
    font-weight: bold;
    list-style: none;
}

.footer{
    height: 400px;
}


.footer-item{
    font-size:  12px;
    list-style: none;
}

.link-custom{
    color: rgba(255,255,255, 0.55);
    font-size:  12px;
    text-decoration: none !important;
    transition: 0.2s;
}

.link-custom:hover{
    color: rgba(255,255,255,0.75);
}

.copyright{
    font-size: 12px;
}


/* Others */
.cursor-pointer{
    cursor: pointer;
}

.nav-link:hover{
	box-shadow: 0px 2px 0px #A074DB;
}

/* Navbar */
.btn-logout{
    opacity: 0.5;
    transition: 0.2s;
}

.btn-logout:hover{
    opacity: 0.75;
}
#searchlink{
    /*text-decoration: none;*/
    color: #FAFAFA;
}
.pagination{
    align-items: center;
    justify-content: center;
    padding-top: 8px;
}
.pagination .page-item .page-link{
    color: #A074DB;
    background-color: #222222;
}
.pagination .page-item a:hover{
    color: #FAFAFA;
    background-color:#A074DB;
}
.page-item.active .page-link {
    border-color:#222222; 
}

.cabecalhoTable h1{
    display: inline-block;
    padding-right: 30px;
}
.cabecalhoTable #mais{
    font-size: 20px;
    margin-bottom: 10px;
}





